* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  padding: 1rem;
  text-align: center;
  background-color: #dadada;
}

.header-title {
  font-size: 2rem;
}

.main {
  display: grid;
}

.container {
  padding: 0.1rem;
  width: 500px;
  display: grid;
  max-width: 80%;
  margin-top: 5rem;
  align-self: start;
  justify-self: center;
  background-color: #000;
  grid-template-columns: 1fr auto 1fr;
}

.img-arrow {
  width: 2rem;
}

.btn {
  padding: 1rem;
  cursor: pointer;
  background-color: #fff;
}

textarea {
  resize: none;
}

.text-block {
  background-color: #fff;
}
